.myPostsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
}

.myPosts {
  max-height: 600px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
